*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body{
    background-image: url("./images/hotelroom.webp");
    -webkit-background-size: cover;
    background-position: center center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
}
a{
    text-decoration: none;
}
header{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
}
.logo{
    cursor: pointer;
}
.navbar{
    list-style: none;
    background-color: black;
}
.navbar li{
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}
.navbar li a{
    transition: -3s;
   
}